/* alle Paragraph-Elemente*/
p {
    color: red;
}

/*Klasse = "note" */
.note {
    font-size: 20px;
}

/* "id-selector-demo" */
#id-selector-demo {
    color: green;
}

/*Attribut "value" = 4*/
li[value="4"] {
    color: blue;
}

/* Universal-Selektor = Wählt alle Elemente*/
* {
    text-align: center;
}

